.image-upload {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 30px;
    border-bottom: 1px groove #333;
}


.image-preview-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 30px;
    width: 100%;
}